---
interface Props {
link: string;
Class?: string;
}
const {link, Class} = Astro.props;
---
<li>
	<a href={link} class:list={["select-none hover:scale-125 grid place-content-center hover:text-black hover:bg-white p-2 m-2 rounded-lg font-bold transition-all duration-300", Class]}>
		<slot/>
	</a>
</li>
