---
import Layout from '../layouts/Layout.astro';
import LinkList from '../components/linklist/LinkList.astro'
import Link from '../components/linklist/LinkButton.astro'
---

<Layout title="Tower">

		<header class="font-bold text-4xl place-self-center mb-4">
			Bienvenido a
			<br>The Tower.
		</header>
		<hr class="my-4">
		<main class="w-min mx-auto">
			<section class="w-fit">
				<LinkList>
				<Link link="https://youtube.com/@midas-main" Class="text-red-400">
					Youtube
				</Link>
				<Link link="https://tiktok.com/@sy.midas">
					Tiktok
				</Link>
				<Link link="https://instagram.com/javierlia55" Class="text-pink-400">
					Instagram
				</Link>
				<Link link="https://www.linkedin.com/in/javier-lia%C3%B1o-rioz-271a17337/" Class="text-teal-500">
					LinkedIn
				</Link>
				</LinkList>
			</section>
			<section>
				<p class="w-fit text-justify">
					<b>Tower</b> es un <i>proyecto</i> que llevo tiempo teniendo en mente. Basicamente
					se resume como todo mi trabajo.
					<br> <br>
					Una nueva visión de un curriculum, o si prefieres, 
					una manera de exponer mi trayectoria.
				</p>
			</section>
			<section class="grid">
				
			</section>
		</main>

</Layout> 

<style>
	html {
		color-scheme: dark light;
	}
</style>
