---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tower">

	<main>

		<header class="font-bold text-4xl place-self-center">
			Bienvenido a The Tower.
		</header>
		<body>
			<ul class="[&>li]:flex [&>li]:items-center [&>li]:gap-2 flex flex-col gap-2">
				<li>
					<img class="rounded-lg size-10" src="https://1.bp.blogspot.com/-zaoiLHspoKI/XeI_0uFAeCI/AAAAAAAAF38/CyHgdY8bdOQ7d979yOJ0voSIA8b5bAF2wCLcBGAsYHQ/s1600/Youtube-Icon-2000x2000.png" alt="Logo de Youtube">
					<a href="https://youtube.com/@midas-main">@midas-main</a>
				</li>
				<li>
					<img class="bg-white rounded-lg size-10" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F018%2F930%2F470%2Foriginal%2Ftiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png&f=1&nofb=1&ipt=72c375677fe5f01f17a3fc8e4c058c3df72300777bcf593d5c1244c30251ce00&ipo=images" alt="">
					<a href="https://tiktok.com/@sy.midas">@sy.midas</a>
				</li>
				<li>
					<img class="rounded-lg size-10" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F024%2F170%2F864%2Foriginal%2Finstagram-icon-logo-symbol-free-png.png&f=1&nofb=1&ipt=aea6c2cff5ab3f81867b9db4fcc03c05d274e88e78cfb4210807c2e8bd44f6be&ipo=images" alt="">
					<a href="https://instagram.com/javierlia55">@javierlia55</a>
				</li>
				<li>
					<img class="bg-white rounded-lg size-10" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F021%2F460%2F490%2Foriginal%2Flinkedin-logo-free-download-free-png.png&f=1&nofb=1&ipt=08a7fafbbddafa5d3fb8ac4259ef1afae6b18fb2fd0478d39f3bd4d30ac59ca4&ipo=images" alt="">
					<a href="https://www.linkedin.com/in/javier-lia%C3%B1o-rioz-271a17337/">Javier Liaño Rioz</a>
				</li>
			</ul>
		</body>

	</main>

</Layout> 

<style>
	html {
		color-scheme: dark light;
	}
</style>
